.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: white;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 5px;
}

.menu li {
    margin-left: 15px;

}

.header-links li {
    margin-left: 15px
}

.menu li a {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.header-links li a {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
}

.menu a:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.header-links a:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

header {
    background-color: #2B3242;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,.5);
    position: relative;
    z-index: 1;
}
