.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    width: 75%;
    
}

.project-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
}


.project-img{
    width: 400px;
    height: 400px;
}