.project{
    display: flex;
    align-items: center;
    flex-flow: row;
    
}

.projects-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    width: 100%; 
}


.project-img{
    width: 300px;
    height: 300px;
}

.projects-right h3{
    color: #2B3242;
}

.projects-right button {
    background-color: #2B3242;
    border: none;
    padding: 10px;
    cursor: pointer;

}

.projects-right .stack{
    display:flex;
    flex-flow: row;
    
    
}

.projects-right span p{
    font-size: 16px;
    margin: 5px
}

.stack span{
    display: flex;
    flex-flow: row;
    margin-top: 10px;
   
    
    
}