.project-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 20px;
}

.project-body h3{
    color: black
}

.project-body h1{
    font-size: 80px;
}


.external-links {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-flow: row;
    width: 300px;
}

h3 a{
    color: black;
}

h3 a:visited{
    color: black
}

.main-image{
    width: 50%;
}

.video{
    width: 40%;
    margin-bottom: 20px;
    padding: 10px;

}

.img-para{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.mobile-img{
    width: 50%;
}